#_desktop_top_menu{
	#top-menu{
		display: none;
	}
	ul[data-depth="1"] {
		li{
			a{
				color: $gray-lighter !important;
				.navbar-toggler{
					display: none;
				}
				i{
					color: $gray-lighter !important;
				}
			}
		}
	}
}