#search_widget {
 	  display: inline-block;
	  position: fixed;
	  width: calc(50% - 145px);
	  height: 100%;
	  background: rgba(255,255,255,1);
	  left:0;
	  top:0;
	  border-left: 1px solid $border-menu;
	  @include transition(0.3s);
	  @include transform(translateX(-800px));
	  padding:14% 5%;
	  z-index: 1;
	  &.show-panel{
         @include transform(translateX(290px));
	  }
	  .form-group{
		  position: relative;
		  input[type="text"]{
			  height: 55px;
			  line-height: 55px;
			  font-family: $brand-font;
			  background: white;
			  border:3px solid $border-color;
		  }
		  button{
			  position: absolute;
			  top:2px;
			  right: 5px;
			  height: 55px;
			  background: transparent;
			  border:0px;
		  }
	  }
	  h2{
		  margin-top:18%;
		  text-transform: uppercase;
		  color: $brand-secondary;
		  font-size: rem(28px);
		  padding-bottom: 30px;
		  font-weight: 400;
		  font-family: $brand-font;
		  text-align: center;
	  }
	  .search_widget__form_close-wrap {
		    background: $brand-secondary; 
		    padding: 10px;
		    position: absolute;
		    z-index: -9;
		    right: 0px;
		    top: 0px;
		    .search_widget__form_close{
				background: url('close-cross.png') no-repeat;   
				background-size: cover;
				display:block;
				width:25px;
				height:25px;
				cursor:pointer;		
				@include transition(0.2s);
				&:hover{
					@include transform(rotate(180deg))
				}	    
		    }
		}
  .search_widget__btn{
	  cursor: pointer;
  }
}
@include media-breakpoint-down(md) {
  #search_widget {
	  position: relative;
	  width: 100%;
	  @include transform(translateX(0px));
	  @include transition(0.2s);
	  padding: 15px;
	  height: 70px;
	  margin-top:-70px;
	  border-top:1px solid $border-menu;
	  border-bottom:1px solid $border-color;
	  z-index: 0;
	  opacity: 0;
	  display: block;
	    form {
		    width: 100%;
		    margin: auto;
	      input[type="text"] {
	        min-width: inherit;
	        width: 100%;
	        background: white;
	        border:1px solid $border-color;
	        height: 70px;
	        @include border-radius(3px);
	      }
	      button[type=submit]{
		      right:15px;
		      bottom:16px;
		      color: $brand-secondary;
	      }
	    }
	    &.show-panel-m{
		    height: auto;
		    margin-top:0;
		    z-index: 10;
		    opacity: 1; 
	    }
	    &.static{
		    position: fixed;
		    top:67px;	    
	    }
    }
  
}
#checkout {
  #search_widget {
/*     display: none; */ /* Not ideal solution by allows to reuse same hooks/templates */
  }
}


/*** Responsive part ***/
@include media-breakpoint-down(md) {
  .header-nav{
	  z-index: 100;
	  background: white;
  }
  .header-top {
	  z-index: 100;
	  background: white;
    .search-widget {
      float: none;
      padding: 0 rem(0px);
      .search_widget__form {
	      position: absolute !important;
	      width: 100%;
	      height: auto;
	      top:-50px;
	      left:-800;
	      @include transform(translateX(0px));
	      padding: 15px;
	      border-top:1px solid $border-menu;
	      z-index: -99;
	      h2{
		      display: none;
	      }
	      &.show-panel{
	    	height: auto;
	    	top:100%;
	    	left:0;
	      }
      }
      form {
        margin: 0 auto;
        input[type="text"] {
          min-width: inherit;
          background: white;
        }
      }
    }
  }
}